
<!--Card presentation voiture-->
<div class="container mt-5">
        <div class="card col-3 ">
            <div class="card-header" id="titre">
            {{voiture.nom}}
            </div>
            <div class="card-body ">
            <p class="card-text"> Kilometrage : <span>{{ voiture.kilometrage }}</span></p>
            <p class="card-text"> Immatriculation : {{voiture.immatriculation}}</p>
            </div>                
        </div>
</div>

<!--Card presentation contrat-->
  <div class="container mt-5">
    <div class="card mt-3" *ngFor="let contrat of contrats"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clicked(contrat.id)">
      <div class="card-header row d-flex ">
        <ul class="nav nav-pills justify-content-around">
            <li class="nav-item col-2" >
                <p>{{contrat.nom}}</p>
            </li>
            <li class="nav-item col-1">
            </li>
            <li class="nav-item col-4">
                <p>Date de création : {{contrat.dateCreation}}</p>
            </li>
            <li class="nav-item col-1"></li>
            <li class="nav-item col-2">
                <p> Prix : {{contrat.prix}} €</p>
            </li>
        </ul>
      </div>
    </div>
  </div>

<!--Bouton création-->
<div class="container">
    <div class="mt-4 row d-flex justify-content-around">
        <button type="submit" class="btn btn-success col-4" (click)="afficherForm()">Créer un nouveau contrat</button>
        <button type="submit" class="btn btn-success col-4" routerLink="/voiture">Accueil véhicule</button>
    </div>
</div>


<div class="container mb-3">
    <div *ngIf="affichageContratForm">
        <h3 class="mt-5 mb-1 ml-3">Ajouter un contrat</h3>
        <form class="ml-3" [formGroup]="contratForm">
            <div class="form-group" >
            <label for="nom">Nom de votre contrat :</label>
            <input type="text" class="form-control" id="nom" formControlName="nom" required>
            </div>
            <label for="produit" required>Choisissez votre produit :</label>
                <select class="form-select" formControlName="produit">
                    <option [ngValue]=""></option>
                    <option *ngFor="let produit of produits" name="produit" [ngValue]="produit.id" >{{produit.libelle}}</option>
                </select>
            <div class="form-group">
                <label for="niveau">Modele du produit :</label>
                <input type="text" class="form-control" id="modele" formControlName="modele">
            </div>
            <div class="form-group">
                <label for="niveau">Nom du prestataire :</label>
                <input type="text" class="form-control" id="nomPrestataire" formControlName="nomPrestataire">
            </div>
            <div class="form-group">
                <label for="niveau">Prix :</label>
                <input type="text" class="form-control" id="prix" formControlName="prix" required>
            </div>
            <div class="form-group">
                <label for="niveau">Commentaire :</label>
                <input type="text" class="form-control" id="commentaire" formControlName="commentaire" required>
            </div>
            <div class="row d-flex justify-content-around mt-2">
                <button type="submit" class="btn btn-success col-3 ml-2" (click)="enregistrer()">Enregistrer</button>
                <button type="submit" class="btn btn-success col-3" (click)="annulerForm()">Annuler</button>
            </div>
        </form>
    </div>
</div>

<div class="container mb-3">
    <div *ngIf="affichageModifierContratForm">
        <h3 class="mt-5 mb-1 ml-3">Modifier le contrat : {{ contrat.nom }}</h3>
        <form class="ml-3" [formGroup]="contratForm">
            <div class="form-group" >
            <label for="nom">Nom de votre contrat :</label>
            <input type="text" class="form-control" id="nom" formControlName="nom" required>
            </div>
            <label for="produit" required>Choisissez votre produit :</label>
                <select class="form-select" formControlName="produit">
                    <option [ngValue]=""></option>
                    <option *ngFor="let produit of produits" name="produit" [ngValue]="produit.id" >{{ produit.libelle }}</option>
                </select>
            <div class="form-group">
                <label for="niveau">Modele du produit :</label>
                <input type="text" class="form-control" id="modele" formControlName="modele">
            </div>
            <div class="form-group">
                <label for="niveau">Nom du prestataire :</label>
                <input type="text" class="form-control" id="nomPrestataire" formControlName="nomPrestataire">
            </div>
            <div class="form-group">
                <label for="niveau">Prix :</label>
                <input type="text" class="form-control" id="prix" formControlName="prix" required>
            </div>
            <div class="form-group">
                <label for="niveau">Commentaire :</label>
                <input type="text" class="form-control" id="commentaire" formControlName="commentaire" required>
            </div>
            <div class="row d-flex justify-content-around mt-2">
                <button type="submit" class="btn btn-success col-3 ml-2" (click)="updateContrat(contrat.id)">Enregistrer</button>
                <button type="submit" class="btn btn-success col-3" (click)="annulerForm()">Annuler</button>
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ contratModal.nom }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
              <li>{{ contratModal.produit.libelle }}</li>
              <li>{{ contratModal.prix }}</li>
          </ul>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Merci</button>
        </div>
      </div>
    </div>
  </div>